---
import Base from '../layouts/Base.astro'
---


<Base>
  <h1>About Me</h1>
  <h2>… and my new Astro site!</h2>

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, & it's the first one I built myself!</p>
  <p>This site will update as I complete more of the tutorial, so keep checking back & see how my journey is going!</p>
  
</Base>