---
import Base from "../layouts/Base.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<Base>
  <h1>My Astro Learning Blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul class="my-3">
    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Base>

<script>
  console.log("Blog Page");
</script>
